@font-face {
	font-family: "Yuji Syuku";
	src: url("../../public/built/Yuji_Syuku/YujiSyuku-Regular.ttf") ;
}

@page {
  size: A4;
  margin: 0;
}

@media screen {
  body {
    background: #eee;
    color:#000;
    margin:auto;
  }
  .print-page {
    background: white; /* 背景を白く */
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); /* ドロップシャドウ */
    margin: 5mm;
  }
}

.print-page .table td, .print-page .table th {
  border: 1px solid #000000;
  border: 1px solid hsl(0,0,95%);
}

.print-page {
  page-break-after: always;
  width: 210mm;
  height: 296mm; /* 1mm余裕をもたせる */
}

.print-page-A4 {
  page-break-after: always;
  width: 210mm;
  height: 297mm;
}

.print-page:last-child {
  page-break-after: avoid;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

td {
  overflow: hidden;
}

/*ここから変更*/
.contents{
  width:90%;
  margin:auto;

  font-family: 'Yuji Syuku', serif;
  text-align: center;
}

.comp_name{
  padding-top: 40mm;
  letter-spacing: 0em;
  font-size: 10.6mm;
  line-height: 1.7em;
}

.comp_date{
  padding-top: 25mm;
  padding-bottom:18.4mm;
  text-align:right;
  letter-spacing: -0.1em;
  font-size: 9.8mm;
}

.winner{
  padding-top: 15mm;
  padding-bottom:20mm;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin:auto;
  font-size: 11.4mm;
}

.col1, .col2{
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.4em;
}

.col1{
  width: 30%;
}

.col2{
  width: 70%;
}

.context{
  font-size: 8.17mm;
  width:95%;
  margin:auto;
  letter-spacing: 0em;
  text-align: left;
  font-size: 9.8mm;
}