/* @import url('https://fonts.googleapis.com/css2?family=Yuji+Syuku&display=swap'); */

/* @font-face {
	font-family: "Yuji Syuku";
	src: url("Yuji_Syuku/YujiSyuku-Regular.ttf") ;
 } */

@page {
  size: A4;
  margin: 0;

  font-family: 'YuMincho', 'Yu Mincho';
  /* font-family: 'YuGothic', 'Yu Gothic'; */
}

@media screen {
  body {
    /* background: #eee; */
    font-family: 'YuMincho', 'Yu Mincho';
    /* font-family: 'YuGothic', 'Yu Gothic'; */
    color:#000;
    margin:auto;
  }
  .print-page {
    /* background: white; 背景を白く */
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3); /* ドロップシャドウ */
  }
}

.print-page .table td, .print-page .table th {
  border: 1px solid #000000;
  border: 1px solid hsl(0,0,95%);
}

.print-page {
  page-break-after: always;
  width: 210mm;
  height: 296mm; /* 1mm余裕をもたせる */
  background-image: url('../../public/built/a.png');
  background-size: cover;
  font-family: 'YuMincho', 'Yu Mincho';
  /* font-family: 'YuGothic', 'Yu Gothic'; */
}

.print-page-A4 {
  page-break-after: always;
  width: 210mm;
  height: 297mm;
}

.print-page:last-child {
  page-break-after: auto;
}

.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

td {
  overflow: hidden;
}

/*ここから変更*/
.contents{
  width:73%;
  margin:auto;

  /* font-family: 'Yuji Syuku', serif; */
  font-family: 'YuMincho', 'Yu Mincho';
  text-align: center;
}

.comp_title_top{
  padding-top: 35mm;
  padding-bottom:0mm;
  text-align:center;
  letter-spacing: -0.1em;
  font-size: 17.5mm;
  font-weight: bold;
}

.comp_title_sub{
  padding-top: 5mm;
  text-align:center;
  letter-spacing: -0.1em;
  font-size: 10mm;
  line-height: 10mm;
}

.comp_name{
  padding-top: 7.5mm;
  letter-spacing: 0em;
  font-size: 10mm;
  line-height: 1.7em;
}

.winner{
  padding-top: 12.5mm;
  padding-bottom:15mm;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin:auto;
  font-size: 9mm;
}

.col1, .col2{
  box-sizing: border-box;
  text-align: center;
  letter-spacing: 0.4em;
}

.col1{
  width: 30%;
}

.col2{
  width: 70%;
  white-space: nowrap;
}

.context{
  font-size: 8.17mm;
  width:95%;
  margin:auto;
  letter-spacing: 0em;
  text-align: left;
  font-size: 8mm;
}

.comp_date{
  padding-top: 30mm;
  padding-bottom:2.5mm;
  text-align:right;
  letter-spacing: -0.1em;
  font-size: 7mm;
}

.comp_sponser{
  padding-top: 2.5mm;
  text-align:right;
  letter-spacing: -0.1em;
  font-size: 8mm;
}